@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  .scroller {
    overflow-y: scroll;
  }
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base;
  }

  body {
    @apply font-lato font-normal;
  }

  .input {
    @apply border-2 dark:bg-dark_background dark:text-dark_text focus:ring-0 dark:focus:border-dark_background rounded-xl bg-light_background dark:border-dark_background text-light_text focus:border-light_background border-light_background;
  }
}

.ql-editor {
  font-size: 1.05rem;
}
